@using ServerRoomLibrary.Models
@using System.Windows.Forms.DataVisualization.Charting

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering;
<script src = "http://code.highcharts.com/highcharts.js"></script>
<script src = "https://code.highcharts.com/modules/exporting.js"></script>

@model IEnumerable<ServerRoomLibrary.Models.SensorMessage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm(actionName: "Reload", "SensorMessages", method: FormMethod.Post))
{
   <input type="submit" value="Odśwież" />
}
@using (Html.BeginForm(actionName: "DownloadCsv", "SensorMessages", method: FormMethod.Get))
{
   <input type="submit" value="Pobierz csv" />
}
@using (Html.BeginForm(actionName: "DownloadJson", "SensorMessages", method: FormMethod.Get))
{
   <input type="submit" value="Pobierz json" />
}
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">@Html.DisplayNameFor(model => model.SensorType)</a>
</th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ValueSortParm"]">@Html.DisplayNameFor(model => model.Value)</a>
</th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["UnitSortParm"]">@Html.DisplayNameFor(model => model.Unit)</a>
</th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Date)</a>
</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SensorType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
    
                </tr>
            }
        </tbody>
        
        </table>
</div>
