@model IEnumerable<ServerRoomLibrary.Models.SensorMessage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm(actionName: "Reload", "SensorMessages", method: FormMethod.Post))
{
   <input type="submit" value="Odśwież" />
}
@using (Html.BeginForm(actionName: "GetDataAsCsv", "SensorMessages", method: FormMethod.Get))
{
   <input type="submit" value="Pobierz csv" />
}
@using (Html.BeginForm(actionName: "DownloadJson", "SensorMessages", method: FormMethod.Get))
{
   <input type="submit" value="Pobierz json" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SensorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SensorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

            </tr>
        }
    </tbody>

</table>
